{% extends "layout.html" %}}

{% set pageId = "page-point-map" %}}

{% block title %}
    <title>Mapa</title>
    <link rel="icon" href="/assets/icones/favicon.ico"/>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/point-map.css">
{% endblock styles %}

{% block scripts %}
    <script src="/scripts/point-map.js"></script>
{% endblock scripts %}

</head>

<body>

{% block content %}
    {% include "partials/page-header.html" %}
    <main>

        <div class="intro">
            <h1>
                <strong>MiniMapa</strong>
            </h1>
            <a href="/table-hours" class="aviso">
                <img src="/assets/icones/notificacao.svg" alt="Sino">
                <h4>Notificação</h4>
            </a>

        </div>
        <div class="caution">
            <h4>
                Essa aplicação ainda está em fase beta.
                <p>
                    quaiquer erros no minimapa solicitamos seu feedback.</h4>
            </div>

            <form action="">
                <fieldset>
                    <legend>
                        <h3>Selecione seu filtro.</h3>
                    </legend>
                    <div class="field-group">
                        <div class="field">
                            <h4>Local de partida</h4>
                            <select class="first-select">
                                <option disabled="disabled" hidden="hidden" selected="selected">Escolher ponto de partida</option>
                                <option value="PREDIOA">PREDIOA</option>
                                <option value="ENTRADA">ENTRADA</option>
                                <option value="REFEITORIO">REFEITORIO</option>
                                <option value="BIBLIOTECA">BIBLIOTECA</option>
                                <option value="NAAF">NAAF</option>
                                <option value="CORDENAÇÃO">CORDENACAO</option>
                            </select>
                        </div>

                        <div class="field2">
                            <h4>Local de chegada</h4>
                            <select class="end-select">
                                <option disabled="disabled" hidden="hidden" selected="selected">Escolher ponto de destino</option>
                                <option value="PREDIOA">PREDIOA</option>
                                <option value="ENTRADA">ENTRADA</option>
                                <option value="REFEITORIO">REFEITORIO</option>
                                <option value="BIBLIOTECA">BIBLIOTECA</option>
                                <option value="NAAF">NAAF</option>
                                <option value="CORDENACAO">CORDENACAO</option>
                            </select>
                        </div>
                    </div>
                    <button class="pesquiseB" id="pesquiseB" type="button">Pesquisar</button>
                </fieldset>
            </form>
            <img id="myImg" src="assets/icones/Vector.svg" class="map" alt="">
        </main>
    {% endblock content %}