{% extends "layout.html" %}}

{% set pageId = "page-table-hours" %}}

{% block title %}
    <title >Tabela de horários</title>
    <link rel="icon" href="/assets/icones/favicon.ico" />
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/table-hours.css">
{% endblock styles %}

</head>

<body>

{% block content %}
    {% include "partials/page-header.html" %}
    <main>


    <header>

        <div class="intro">
            <h1>
                <strong>Tabela de horários</strong>
            </h1>
        </div>
        
    </header>

        <div class="construction">
        <h1>Opa! Essa página ainda está em construção, volte mais tarde.</h1>
        </div>

        </main>
    {% endblock content %}