{% extends "layout.html" %}}

{% block scripts %}
    <script src="/scripts/tela.js"></script>
{% endblock scripts %}

{% set pageId = "page-tela" %}}

{% block title %}
    <title >Front_Map</title>
    <link rel="icon" href="/assets/icones/favicon.ico"/>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/tela.css">
{% endblock styles %}
</head>
<body>

{% block content %}
    <div class="wrapper">
        <aside>
            <h4 class="first">
                Selecione o campus
            </h4>

            <select name="" id="" class="camp" disabled="disabled">
                <option value="UniFanor" selected="Selected">UniFanor</option>
            </select>

            <a href="/create-point" class="campus">
                <h6>Outro Campus</h6>
            </a>

            <h4 class="second">
                Detalhamento de rota
            </h4>

            <h6 class="second">
                Encontre o melhor trajeto ao seu destino
            </h6>

                <select class="first-select">
                    <option disabled="disabled" hidden="hidden" selected="selected">Escolher ponto de partida</option>
                    <option value="PREDIOA">PREDIOA</option>
                    <option value="ENTRADA">ENTRADA</option>
                    <option value="REFEITORIO">REFEITORIO</option>
                    <option value="BIBLIOTECA">BIBLIOTECA</option>
                    <option value="NAAF">NAAF</option>
                    <option value="CORDENAÇÃO">CORDENACAO</option>

                </select>

                <img src="/assets/icones/circle.svg" alt="circulo" class="circle">
                <img src="/assets/icones/line.svg" alt="" class="line">
                <img src="/assets/icones/square.svg" alt="quadrado" class="square">

                <select class="end-select">
                    <option disabled="disabled" hidden="hidden" selected="selected">Escolher ponto de destino</option>
                    <option value="PREDIOA">PREDIOA</option>
                    <option value="ENTRADA">ENTRADA</option>
                    <option value="REFEITORIO">REFEITORIO</option>
                    <option value="BIBLIOTECA">BIBLIOTECA</option>
                    <option value="NAAF">NAAF</option>
                    <option value="CORDENACAO">CORDENACAO</option>
                </select>

                <button class="pesquiseB" id="pesquiseB" type="button">Pesquisar</button>

                <a href="/tela" class="Clean">
                    <h5 class="Clean">Limpar Seleção</h5>
                </a>

            <a href="/table-hours" class="aviso">
                <img src="/assets/icones/notificacao.svg" alt="Sino">
                <h4>Notificação</h4>
            </a>

            <a href="/" class="home">
                <span></span>
                Voltar para home
            </a>
        </aside>
        <div>
            <img id="myImg" src="assets/icones/Vector.svg" class="map" alt="">
        </div>

        <img src="" alt="Minimapa">
    </div>
{% endblock content %}