<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Universidades</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/Point-Map">
            <label for="search">Campus</label>
            <div class="search field">
                    <select disabled>
                        <option value="" selected="selected" >UniFanor</option>
                        <option value="">UniFor</option>
                        <option value="">Estácio</option>
                    </select>
                    <button>
                    <img src="/assets/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>