<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Escolha a sua arquitetura</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/tela">
            <label for="search">Arquitetura</label>
            <div class="search field">
                    <select disabled>
                        <option value="" selected="selected" >Computer</option>
                        <option value="">Mobile</option>
                    </select>
                    <button>
                    <img src="/assets/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>