@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home header a.feedback {
        padding-left: 0px;
        padding-bottom: 30px;
    }
    #page-home header a,
    #page-table-hours header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main,
    #page-table-hours main {
        align-items: center;
    }
    #page-create-point .field-group {
        flex-direction: column;
    }
    #page-create-point .field-group .field+.field {
        margin-left: 0;
    }
    #page-table-hours .content,
    #page-table-hours header .intro {
        align-items: center;
        text-align: center;
    }
    #page-table-hours header .intro {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }

    #page-point-map main img.map{
        position: absolute;
        position: absolute;
        width: 330px;
        height: 330px;
        left: 70px;
        top: 840px;
        }

        #page-point-map form{
            margin-left: 60px;
        }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
    

}

@media (max-width: 630px) {
    #page-search-results main .cards {
        display: grid;
        grid-template-columns: 1fr;
    }


}

@media (max-height: 730px) {
    #page-home header a.feedback {
        position: absolute;
        height: 420px;
    }
    #page-home header a {
        position: absolute;
        height: 460px;
    }

}

@media (max-height: 650px) {
    #page-home header a.feedback {
        position: absolute;
        height: 380px;
    }

    #page-home header a {
        position: absolute;
        height: 420px;
    }
}

@media (max-height: 570px) {
       #page-home header a.feedback {
            position: absolute;
            height: 370px;
        }
    
        #page-home header a {
            position: absolute;
            height: 500px;
            padding: 0%;
        }
}